# Python
.venv/
__pycache__/
*.py[cod]
.ipynb_checkpoints/

# Environment variables / secrets
.env

# macOS
.DS_Store

# IDE / editor
.vscode/
.idea/

# Local / temporary files
*.log
*.tmp

# Raw dataset
data/raw/
